header {
	background: $primary;
	height: 10vh;
	border-bottom: 2px solid #000;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1,
p.weather,
.locationInfo,
footer p {
	font-family: 'Anton', sans-serif;
	text-transform: uppercase;
	margin: 0;
}

a.pageTitle {
	width: 45%;
}

h1:not(*:root) {
	letter-spacing: 1px;
}

h1 {
	font-size: clamp(3rem, 2.5vw, 2rem);
	padding: 15px;
	letter-spacing: 0;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}

h1:hover,
h1:active,
button.info-icon:hover,
button.info-icon:active {
	text-shadow: 1px 1px 4px #000;
	color: $secondary;
}

/* * * * WEATHER * * * */
.weather-bar {
	width: 55%;
	display: flex;
	justify-content: space-around;
	flex-flow: row;
	justify-content: flex-end;
}

p.description,
p.temp,
p.location {
	font-size: clamp(1.5rem, 2.5vw, 2rem);
	text-transform: uppercase;
	padding: 1%;
	margin: 2%;
	display: flex;
	align-items: center;
}

p.description {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	min-width: 50%;
}

p.weather img {
	height: 50px;
	width: 50px;
	margin: 5%;
	// * * * * IN CASE PHOTO LINK DOESN'T WORK
	font-size: 12px;
	line-height: 12px;
	font-family: 'arial';
	text-transform: capitalize;
}

button.info-icon {
	margin: 2%;
	font-size: 20px;
	color: #fff;
}

button.info-icon,
button.close-dialog {
	border: none;
	background: transparent;
	text-shadow: 1px 1px 1px #000;
}

button.close-dialog {
	position: absolute;
	top: 20px;
	right: 20px;
	color: $secondary;
	font-size: 30px;
}

button.close-dialog:hover,
button.close-dialog:active {
	color: $primary;
}
