@media only screen and (max-width: 650px) {
	header {
		height: 15vh;
		flex-flow: column;
		align-content: center;
	}

	h1 {
		width: 100%;
		line-height: 1rem;
		padding: 2%;
		text-align: center;
		margin: 2%;
	}

	.description,
	.temp,
	.location {
		height: 6vh;
		margin: 0;
		justify-content: space-around;
	}

	.weather {
		width: 100%;
		position: relative;
		z-index: 10;
	}

	.weather img {
		height: 130%;
	}

	.description {
		width: 50%;
	}

	.temp,
	.location {
		width: 25%;
	}

	.infoWindow {
		flex-direction: column;
	}

	.locationImage,
	.locationInfo {
		width: 100%;
	}

	.locationImage img {
		width: 80%;
	}

	footer {
		height: 5vh;
		line-height: 0;
	}
}

@media only screen and (max-width: 500px) {
	h1 {
		padding: 3%;
	}
}
