@media only screen and (max-width: 780px) {
	.image-gallery {
		width: 90%;
	}
}

@media only screen and (max-width: 650px) {
	header {
		height: 15vh;
		flex-flow: column;
		align-content: center;
	}

	a.pageTitle {
		width: 100%;
	}

	h1 {
		line-height: 1rem;
		padding: 2%;
		text-align: center;
		margin: 2%;
	}

	.weather-bar {
		width: 100%;
		position: relative;
		z-index: 10;
	}

	p.weather img {
		height: 40px;
		width: 40px;
	}

	p.description,
	p.temp,
	p.location {
		height: 6vh;
		margin: 0;
		justify-content: space-around;
	}

	p.description {
		width: 50%;
	}

	p.temp,
	p.location {
		width: 25%;
	}

	.infoWindow {
		flex-direction: column;
	}

	.locationImage,
	.locationInfo {
		width: 100%;
	}

	.locationImage img {
		width: 80%;
	}

	footer {
		height: 5vh;
		line-height: 0;
	}

	.credit {
		bottom: 5vh;
	}
}

@media only screen and (max-width: 500px) {
	h1 {
		padding: 3%;
	}

	.slideshow-wrapper {
		padding: 15vh 2vw;
	}
}
